﻿<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>YouTube Data API</title>
<link type="text/css" rel="stylesheet" href="video.css" />
<link type="text/css" rel="stylesheet" href="../zoombox.css" />
<script type="text/javascript" src="../jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="../jsrender.min.js"></script>
<script type="text/javascript" src="../jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="../zoombox.js"></script>
<script type="text/javascript" src="video.js"></script>
<script id="template" type="text/x-jsrender">
  <a class="zoombox" href="{{>link[0].href}}"><img class="thumb"
    src="{{>media$group.media$thumbnail[0].url}}" title="{{>title.$t}}" /></a>
  {{if author}}<a href="{{>author[0].uri.$t}}">{{>author[0].name.$t}}</a>{{/if}}
</script>
</head>
<body>
<form>
  <input type="text" id="keywd" name="keywd" size="30" />
  <input type="button" id="search" value="検索" />
</form>
<hr />
<div id="prog"><img src="../images/loader.gif" alt="" /></div>
<div id="result"></div>
<div id="pager"></div>
</body>
</html>
