﻿#container {
  padding: 0px;
  height: 44px;
  width: 300px;
  overflow: hidden;
}

.navi {
  margin-top: 10px;
  float: left;
}

#list {
  margin: 0px;
  padding: 0px;
}

#list li {
  margin: 2px;
  height: 40px;
  list-style-type :none;
  float: left; 
}

#list img {
  width: 55px;
  height: 40px;
}

hr {
  clear : both;
}

#big {
  width: 315px;
  height: 235px;
}